<!--TASK NAME-->
<div class="form-group" ng-class="{'has-error': task_form.name.$dirty && task_form.name.$error.required}">
    <label class="col-lg-4 control-label" for="name">Name:</label>
    <div class="col-lg-8">
        <input id="name"
               name="name"
               type="text"
               class="form-control"
               ng-model="$parent.task.name"
               required/>
        <span ng-show="task_form.name.$dirty && task_form.name.$error.required"
              class="help-block">Name is required</span>
    </div>
</div>
<!--TASK ASSIGNED-->
<div class="form-group" ng-class="{'has-error': task_form.assigned.$dirty && task_form.assigned.$error.required}">
    <label class="col-lg-4 control-label" for="assigned">Assigned:</label>
    <div class="col-lg-8">
        <input id="assigned"
               name="assigned"
               type="checkbox"
               class="form-control"
               ng-model="$parent.task.assigned"/>
    </div>
</div>
<!--TASK QUALIFICATION-->
<div class="form-group"
     ng-class="{'has-error': task_form.qualification.$dirty && task_form.qualification.$error.required}">
    <label class="col-lg-4 control-label">Required Qualification:</label>
    <div class="col-lg-8">
        <label class="radio col-lg-4"><input type="radio" name="qualification" required
                                             ng-model="$parent.task.qualification" value="TRAINEE">Trainee</label>
        <label class="radio col-lg-4"><input type="radio" name="qualification" required
                                             ng-model="$parent.task.qualification" value="JUNIOR">Junior</label>
        <label class="radio col-lg-4"><input type="radio" name="qualification" required
                                             ng-model="$parent.task.qualification" value="MIDDLE">Middle</label>
        <label class="radio col-lg-4"><input type="radio" name="qualification" required
                                             ng-model="$parent.task.qualification" value="SENIOR">Senior</label>
        <label class="radio col-lg-4"><input type="radio" name="qualification" required
                                             ng-model="$parent.task.qualification" value="ARCHITECT">Architect</label>
        <span ng-show="task_form.qualification.$dirty && task_form.qualification.$error.required"
              class="help-block">Qualification is required</span>
    </div>
</div>
<!--TASK TIME TO COMPLETE-->
<div class="form-group"
     ng-class="{'has-error': task_form.timeToComplete.$dirty && task_form.timeToComplete.$error.required}">
    <label class="col-lg-4 control-label" for="timeToComplete">Time To Complete:</label>
    <div class="col-lg-8">
        <input id="timeToComplete"
               name="timeToComplete"
               type="number"
               class="form-control"
               ng-model="$parent.task.timeToComplete"
               required/>
        <small class="form-text text-left">Approximate time to complete the task in hours</small>
        <span ng-show="task_form.timeToComplete.$dirty && task_form.timeToComplete.$error.required"
              class="help-block">Time To Complete is required</span>
    </div>
</div>
<!--TASK TIME IN DEVELOPMENT-->
<div class="form-group" ng-show="activeTab == 'developer'"
     ng-class="{'has-error': task_form.timeInDevelopment.$dirty && task_form.timeInDevelopment.$error.required}">
    <label class="col-lg-4 control-label" for="timeInDevelopment">Time In Development:</label>
    <div class="col-lg-8">
        <input id="timeInDevelopment"
               name="timeInDevelopment"
               type="number"
               class="form-control"
               ng-model="$parent.task.timeInDevelopment"
               ng-required="activeTab == 'developer'"/>
        <small class="form-text text-left">Time under development in hours</small>
        <span ng-show="task_form.timeInDevelopment.$dirty && task_form.timeInDevelopment.$error.required"
              class="help-block">Time In Development is required</span>
    </div>
</div>