<div ng-controller="CompanyController">

    <!--Company-->
    <section id="company" class="content-section text-center">
        <div class="companies-section container">
            <div class="col-lg-4 col-lg-offset-2 text-left">
                <!--SHOW COMPANY-->
                <div ng-show="companyInfo">
                    <h3>Company info</h3>
                    <table class="table">
                        <tr>
                            <th>Company Name:</th>
                            <td><strong>{{company.name}}</strong></td>
                        </tr>
                        <tr>
                            <th>Date Founded:</th>
                            <td>{{company.founded}}</td>
                        </tr>
                        <tr>
                            <th>Industry:</th>
                            <td>{{company.industry}}</td>
                        </tr>
                        <tr>
                            <th>Founders:</th>
                            <td>{{company.founders}}</td>
                        </tr>
                        <tr>
                            <th>Products:</th>
                            <td>{{company.products}}</td>
                        </tr>
                    </table>
                    <button class="btn btn-default col-lg-4" ng-click="companyInfo = !companyInfo">Edit</button>
                </div>
                <!--EDIT COMPANY-->
                <div ng-show="!companyInfo">
                    <h3>Company</h3>
                    <form class="form-horizontal" ng-submit="updateCompany()">

                        <div ng-include="'/templates/fragments/companyForm.html'"></div>

                        <div class="col-lg-8 text-left">
                            <button class="btn btn-default col-lg-8 col-lg-offset-11" type="submit"
                                    ng-click="companyInfo = true">Update
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!--Employees-->
    <section id="employees" class="content-section text-center">
        <div class="companies-section container">
            <div class="col-lg-8 col-lg-offset-2 text-left">
                <h3>Employees</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Login</th>
                        <th>Qualification</th>
                        <th>Position</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="dev in developers">
                        <td>{{dev.firstName}} {{dev.lastName}}</td>
                        <td>{{dev.login}}</td>
                        <td>{{dev.qualification}}</td>
                        <td>Developer</td>
                    </tr>
                    <tr ng-repeat="pm in projectManagers">
                        <td>{{pm.firstName}} {{pm.lastName}}</td>
                        <td>{{pm.login}}</td>
                        <td>{{pm.qualification}}</td>
                        <td>Project Manager</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <!--Customers-->
    <section id="customers" class="content-section text-center">
        <div class="companies-section container">
            <div class="col-lg-8 col-lg-offset-2">

            </div>
        </div>
    </section>
</div>