<div ng-controller="CompanyController">

    <!--Company-->
    <section id="company" class="content-section text-center">
        <div class="main-section container">
            <div class="col-lg-4 col-lg-offset-2 text-left">
                <!--Show Company-->
                <div ng-show="companyInfo">
                    <h3>Company info</h3>
                    <table class="table">
                        <tr>
                            <th>Company Name:</th>
                            <td><strong>{{company.name}}</strong></td>
                        </tr>
                        <tr>
                            <th>Date Founded:</th>
                            <td>{{company.founded}}</td>
                        </tr>
                        <tr>
                            <th>Industry:</th>
                            <td>{{company.industry}}</td>
                        </tr>
                        <tr>
                            <th>Founders:</th>
                            <td>{{company.founders}}</td>
                        </tr>
                        <tr>
                            <th>Products:</th>
                            <td>{{company.products}}</td>
                        </tr>
                    </table>
                    <div class="btn-toolbar">
                        <button class="btn btn-default col-lg-4" ng-click="companyInfo = !companyInfo">Edit</button>
                        <button class="btn btn-remove col-lg-4" ng-click="removeCompany()" ng-disabled="!noEmployees">
                            Remove
                        </button>
                    </div>
                </div>
                <!--Update Company-->
                <div ng-show="!companyInfo">
                    <h3>Company</h3>
                    <form name="company_form" class="form-horizontal" ng-submit="updateCompany()" role="form">

                        <div ng-include="'/templates/fragments/companyForm.html'"></div>

                        <div class="btn-toolbar" role="toolbar">
                            <button class="btn navbar-btn btn-default col-lg-4" type="submit"
                                    ng-click="companyInfo = true" ng-disabled="company_form.$invalid">Submit
                            </button>
                            <button class="btn navbar-btn btn-default col-lg-4" type="button"
                                    ng-click="cancelOnCompany()">Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!--Employees-->
    <section id="company-employees" class="content-section text-center">
        <div class="main-section container">
            <!--Show Employees-->
            <div class="col-lg-8 col-lg-offset-2 text-left" ng-show="employeesInfo">
                <h3>Employees</h3>
                <div ng-show="noEmployees">
                    <h6>No employees on the record</h6>
                </div>
                <table class="table" ng-hide="noEmployees">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Login</th>
                        <th>Qualification</th>
                        <th class="col-lg-3">Position</th>
                        <th class="col-sm-1">Remove</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="dev in developers">
                        <td><a class="top-link" ui-sref="developers({id: dev.id})">{{dev.firstName}}
                            {{dev.lastName}}</a></td>
                        <td>{{dev.login}}</td>
                        <td>{{dev.qualification | lowercase}}</td>
                        <td>Developer</td>
                        <td>
                            <div class="material-switch pull-right col-lg-12">
                                <input id="{{dev.id}}" name="{{dev.id}}" type="checkbox"
                                       ng-click="addToRemoveList(dev, 'Developer')"
                                       ng-model="selected[dev.id]"/>
                                <label for="{{dev.id}}" class="label-danger"></label>
                            </div>
                        </td>
                    </tr>
                    <tr ng-repeat="pm in projectManagers">
                        <td><a class="top-link" ui-sref="projectManagers({id: pm.id})">{{pm.firstName}}
                            {{pm.lastName}}</a></td>
                        <td>{{pm.login}}</td>
                        <td>{{pm.qualification | lowercase}}</td>
                        <td>Project Manager</td>
                        <td>
                            <div class="material-switch pull-right col-lg-12">
                                <input id="{{pm.id}}" name="{{pm.id}}" type="checkbox"
                                       ng-click="addToRemoveList(pm, 'ProjectManager')"
                                       ng-model="selected[pm.id]"/>
                                <label for="{{pm.id}}" class="label-danger"></label>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="btn-toolbar">
                    <button class="btn btn-default col-lg-2" ng-click="employeesInfo = !employeesInfo">Add</button>
                    <button class="btn btn-remove col-lg-2" ng-click="removeEmployees()"
                            ng-disabled="noEmployees || !someSelected(selected)">Remove
                    </button>
                </div>
            </div>
            <!--Add Employee-->
            <div class="col-lg-4 col-lg-offset-2 text-left" ng-hide="employeesInfo">
                <h3>Employee</h3>
                <form name="employee_form" class="form-horizontal" ng-submit="addEmployee(employee)">

                    <div ng-include="'/templates/fragments/employeeForm.html'"></div>

                    <div class="btn-toolbar">
                        <button class="btn navbar-btn btn-default col-lg-4" type="submit"
                                ng-click="employeesInfo = true"
                                ng-disabled="employee_form.$invalid || employee_form.$pending">Submit
                        </button>
                        <button class="btn navbar-btn btn-default col-lg-4" type="button"
                                ng-click="cancelOnEmployee()">Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <!--Customers-->
    <section id="company-customers" class="content-section text-left">
        <div class="main-section container">
            <div class="col-lg-8 col-lg-offset-2">
                <div ng-show="customersInfo">
                    <h3>Customers</h3>
                    <div ng-show="customers.length == 0">
                        <h6>No customers on the record</h6>
                    </div>

                    <button class="btn btn-default col-lg-2" ng-click="customersInfo = !customersInfo">Search</button>
                </div>

            </div>
        </div>
    </section>
</div>