<div ng-controller="CustomerController">
    <!--Customer-->
    <section id="customer" class="content-section text-center">
        <div class="companies-section container">
            <div class="col-lg-4 col-lg-offset-2 text-left">
                <!--SHOW CUSTOMER-->
                <div ng-show="customerInfo">
                    <h3>Customer info</h3>
                    <table class="table">
                        <tr>
                            <th>Name:</th>
                            <td><strong>{{customer.firstName}} {{customer.lastName}}</strong></td>
                        </tr>
                        <tr>
                            <th>Login:</th>
                            <td>{{customer.login}}</td>
                        </tr>
                        <tr>
                            <th>Business Interests:</th>
                            <td>{{customer.businessInterests}}</td>
                        </tr>
                    </table>
                    <button class="btn btn-default col-lg-4" ng-click="customerInfo = !customerInfo">Edit</button>
                </div>
                <!--UPDATE CUSTOMER-->
                <div ng-hide="customerInfo">
                    <h3>Customer</h3>
                    <form class="form-horizontal" ng-submit="updateCustomer()">

                        <div ng-include="'/templates/fragments/customerForm.html'"></div>

                        <div class="col-lg-8 text-left">
                            <button class="btn btn-default col-lg-8 col-lg-offset-11" type="submit"
                                    ng-click="customerInfo = true">Update
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!--Projects-->
    <section id="projects" class="content-section text-center">
        <div class="companies-section container">
            <div class="col-lg-8 col-lg-offset-2 text-left">
                <!--SHOW Projects-->
                <div ng-show="projectsInfo">
                    <h3>Projects</h3>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="p in projects">
                            <td><a class="top-link" ng-href="{{p._links.self.href}}">{{p.name}}</a></td>
                            <td>{{p.description}}</td>
                            <td>{{p.startDate}}</td>
                            <td>{{p.endDate}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-default col-lg-2" ng-click="projectsInfo = !projectsInfo">Add</button>
                </div>
                <!--ADD PROJECT-->
                <div ng-hide="projectsInfo">
                    <h3>Project</h3>
                    <form class="form-horizontal" ng-submit="addProject()">

                        <div ng-include="'/templates/fragments/projectForm.html'"></div>

                        <div class="col-lg-8 col-lg-offset-2">
                            <button class="btn btn-default col-lg-6" type="submit"
                                    ng-click="projectsInfo = true">Submit
                            </button>
                            <button class="btn btn-default col-lg-6" type="button"
                                    ng-click="projectsInfo = true">Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!--Companies-->
    <section id="companies" class="content-section text-left">
        <div class="companies-section container">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Companies</h3>
            </div>
        </div>
    </section>
</div>