<div ng-controller="DeveloperController">

    <!--Developer-->
    <section id="developer" class="content-section text-center">
        <div class="main-section container">
            <div class="col-lg-4 col-lg-offset-2 text-left">
                <!--Show Developer-->
                <div ng-show="developerInfo">
                    <h3>Developer info</h3>
                    <table class="table">
                        <tr>
                            <th>Name:</th>
                            <td><strong ng-bind="employee.firstName + ' ' + employee.lastName"></strong></td>
                        </tr>
                        <tr>
                            <th>Login:</th>
                            <td ng-bind="employee.login"></td>
                        </tr>
                        <tr>
                            <th>Qualification:</th>
                            <td ng-bind="employee.qualification"></td>
                        </tr>
                        <tr>
                            <th>Company:</th>
                            <td><a class="top-link" ui-sref="companies({id: company.id})" ng-bind="company.name"></a>
                            </td>
                        </tr>
                        <tr>
                            <th>Manager:</th>
                            <td ng-show="manager"><a class="top-link" ui-sref="projectManagers({id: manger.id})"
                                                     ng-bind="managerName"></a></td>
                            <td ng-hide="manager">Not Assigned Yet</td>
                        </tr>
                    </table>
                    <button class="btn btn-default col-lg-4" ng-click="developerInfo = !developerInfo">Edit</button>
                </div>
                <!--Edit Developer-->
                <div ng-show="!developerInfo">
                    <h3>Developer</h3>
                    <form name="employee_form" class="form-horizontal" ng-submit="updateDeveloper()">

                        <div ng-include="'/templates/fragments/employeeForm.html'"></div>

                        <div class="btn-toolbar">
                            <button class="btn navbar-btn btn-default col-lg-4" type="submit"
                                    ng-click="developerInfo = true" ng-disabled="employee_form.$invalid">Submit
                            </button>
                            <button class="btn navbar-btn btn-default col-lg-4" type="button"
                                    ng-click="developerInfo = true">Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!--Tasks-->
    <section id="dev-tasks" class="content-section text-center">
        <div class="main-section container">
            <div class="col-lg-8 col-lg-offset-2 text-left">
                <h3>Tasks</h3>
                <div ng-show="tasks.length == 0">
                    <h6>Currently no tasks assigned</h6>
                </div>
                <table class="table" ng-hide="tasks.length == 0">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Confirmed</th>
                        <th>Required Qualification</th>
                        <th>Time to complete</th>
                        <th>Time in development</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="t in tasks">
                        <td><a class="top-link" ui-sref="tasks({id: t.id})" ng-bind="t.name">{{t.name}}</a></td>
                        <td ng-bind="t.isAssigned"></td>
                        <td ng-bind="t.qualification"></td>
                        <td ng-bind="t.timeToComplete"></td>
                        <td ng-bind="t.timeInDevelopment"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>