<div ng-controller="HomeController">

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-md-8 col-lg-offset-2">
                <h2>About Time Overseer</h2>
                <p>Time Overseer is a management platform with an integrated set of tools and
                    services allowing clients to arrange and keep track of working hours on their projects.</p>
            </div>
        </div>
    </section>

    <!-- Companies Section -->
    <section id="companies" class="content-section text-center">
        <div class="companies-section container">
            <form name="company-form" ng-submit="submitCompany()" method="post">
                <h3>Register Company</h3>
                <div class="col-lg-8 col-lg-offset-2">

                    <div ng-include="'/templates/fragments/companyForm.html'"></div>

                    <button class="btn btn-default col-lg-12" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </section>

    <!-- Customers Section -->
    <section id="customers" class="content-section text-center">
        <div class="customers-section container">
            <form ng-submit="submitCustomer()">
                <h3>Register Customer</h3>
                <div class="col-lg-8 col-lg-offset-2">

                    <div ng-include="'/templates/fragments/customerForm.html'"></div>

                    <button class="btn btn-default col-lg-12" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </section>
</div>