<div ng-controller="ProjectController">
    <!--Project-->
    <section id="project" class="content-section text-center">
        <div class="main-section container">
            <div class="col-lg-4 col-lg-offset-2 text-left">
                <!--Show Project-->
                <div ng-show="projectInfo">
                    <h3>Project info</h3>
                    <table class="table">
                        <tr>
                            <th>Name:</th>
                            <td><strong ng-bind="project.name"></strong></td>
                        </tr>
                        <tr>
                            <th>Description:</th>
                            <td ng-bind="project.description"></td>
                        </tr>
                        <tr>
                            <th>Start Date:</th>
                            <td ng-bind="project.startDate"></td>
                        </tr>
                        <tr>
                            <th>End Date:</th>
                            <td ng-bind="project.endDate"></td>
                        </tr>
                        <tr>
                            <th>Customer:</th>
                            <td><a class="top-link" ui-sref="customers({id: customer.id})"
                                   ng-bind="customerName"></a></td>
                        </tr>
                        <tr>
                            <th>Manager:</th>
                            <td ng-show="manager"><a class="top-link" ui-sref="projectManagers({id: manger.id})"
                                                     ng-bind="managerName"></a></td>
                            <td ng-hide="manager">Not Assigned Yet</td>
                        </tr>
                    </table>
                    <button class="btn btn-default col-lg-4" ng-click="projectInfo = false">Edit</button>
                </div>
                <!--Edit Project-->
                <div ng-hide="projectInfo">
                    <h3>Project</h3>
                    <form name="project_form" class="form-horizontal" ng-submit="updateProject()">

                        <div ng-include="'/templates/fragments/projectForm.html'"></div>

                        <div class="btn-toolbar">
                            <button class="btn navbar-btn btn-default col-lg-4" type="submit"
                                    ng-click="projectInfo = true" ng-disabled="project_form.$invalid || dateError">
                                Submit
                            </button>
                            <button class="btn navbar-btn btn-default col-lg-4" type="button"
                                    ng-click="projectInfo = true">Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!--Sprints-->
    <section id="project-sprints" class="content-section text-center">
        <div class="main-section container">
            <!--Show Sprints-->
            <div class="col-lg-8 col-lg-offset-2 text-left" ng-show="sprintsInfo">
                <h3>Sprints</h3>
                <div ng-show="sprints.length == 0">
                    <h6>Currently no sprints assigned</h6>
                </div>

                <table class="table" ng-hide="sprints.length == 0">
                    <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="s in sprints">
                        <td><a class="top-link" ui-sref="sprints({id: s.id})" ng-bind="s.name"></a></td>
                    </tr>
                    </tbody>
                </table>
                <button class="btn btn-default col-lg-2" ng-click="sprintsInfo = false">Add</button>
            </div>
            <!--Add Sprint-->
            <div class="col-lg-4 col-lg-offset-2 text-left" ng-hide="sprintsInfo">
                <h3>Sprint</h3>
                <form name="sprint_form" class="form-horizontal" ng-submit="addSprint()">

                    <div ng-include="'/templates/fragments/sprintForm.html'"></div>

                    <div class="btn-toolbar">
                        <button class="btn navbar-btn btn-default col-lg-4" type="submit"
                                ng-click="sprintsInfo = true" ng-disabled="sprint_form.$invalid">Submit
                        </button>
                        <button class="btn navbar-btn btn-default col-lg-4" type="button"
                                ng-click="sprintsInfo = true">Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>