<div ng-controller="ProjectManagerController">

    <!--Project Manager-->
    <section id="projectManager" class="content-section text-center">
        <div class="main-section container">
            <div class="col-lg-4 col-lg-offset-2 text-left">
                <!--Show Project Manager-->
                <div ng-show="projectManagerInfo">
                    <h3>Project Manager info</h3>
                    <table class="table">
                        <tr>
                            <th>Name:</th>
                            <td><strong ng-bind="employee.firstName + ' ' + employee.lastName"></strong></td>
                        </tr>
                        <tr>
                            <th>Login:</th>
                            <td ng-bind="employee.login"></td>
                        </tr>
                        <tr>
                            <th>Qualification:</th>
                            <td ng-bind="employee.qualification"></td>
                        </tr>
                        <tr>
                            <th>Company:</th>
                            <td><a class="top-link" ui-sref="companies({id: company.id})" ng-bind="company.name"></a>
                            </td>
                        </tr>
                        <tr>
                            <th>Project:</th>
                            <td ng-show="project"><a class="top-link" ui-sref="projects({id: project.id})"
                                                     ng-bind="project.name"></a>
                            </td>
                            <td ng-hide="project">Not Assigned Yet</td>
                        </tr>
                    </table>
                    <button class="btn btn-default col-lg-4" ng-click="projectManagerInfo = !projectManagerInfo">Edit
                    </button>
                </div>
                <!--Edit Project Manager-->
                <div ng-show="!projectManagerInfo">
                    <h3>Project Manager</h3>
                    <form name="employee_form" class="form-horizontal" ng-submit="updateProjectManager()">

                        <div ng-include="'/templates/fragments/employeeForm.html'"></div>

                        <div class="btn-toolbar">
                            <button class="btn navbar-btn btn-default col-lg-4" type="submit"
                                    ng-click="projectManagerInfo = true" ng-disabled="employee_form.$invalid">Submit
                            </button>
                            <button class="btn navbar-btn btn-default col-lg-4" type="button"
                                    ng-click="projectManagerInfo = true">Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!--Developers-->
    <section id="pm-developers" class="content-section text-center">
        <div class="main-section container">
            <div class="col-lg-8 col-lg-offset-2 text-left">
                <h3>Developers</h3>
                <div ng-show="developers.length == 0">
                    <h6>Currently no developers assigned</h6>
                </div>
                <table class="table" ng-hide="developers.length == 0">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Login</th>
                        <th>Qualification</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="dev in developers">
                        <td><a class="top-link" ui-sref="developers({id: dev.id})"
                               ng-bind="dev.firstName + ' ' + dev.lastName"></a></td>
                        <td ng-bind="dev.login"></td>
                        <td ng-bind="dev.qualification"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>