<div ng-controller="SprintController">
    <!--Sprint-->
    <section id="sprint" class="content-section text-center">
        <div class="main-section container">
            <div class="col-lg-4 col-lg-offset-2 text-left">
                <!--Show Sprint-->
                <div ng-show="sprintInfo">
                    <h3>Sprint info</h3>
                    <table class="table">
                        <tr>
                            <th>Name:</th>
                            <td><strong>{{sprint.name}}</strong></td>
                        </tr>
                        <tr>
                            <th>Project:</th>
                            <td><a class="top-link" ui-sref="projects({id: project.id})">{{project.name}}</a></td>
                        </tr>
                    </table>
                    <button class="btn btn-default col-lg-4" ng-click="sprintInfo = !sprintInfo">Edit</button>
                </div>
                <!--Edit Sprint-->
                <div ng-hide="sprintInfo">
                    <h3>Project</h3>
                    <form name="sprint_form" class="form-horizontal" ng-submit="updateSprint()">

                        <div ng-include="'/templates/fragments/sprintForm.html'"></div>

                        <div class="btn-toolbar">
                            <button class="btn navbar-btn btn-default col-lg-4" type="submit"
                                    ng-click="sprintInfo = true" ng-disabled="sprint_form.$invalid">Submit
                            </button>
                            <button class="btn navbar-btn btn-default col-lg-4" type="button"
                                    ng-click="sprintInfo = true">Cancel
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!--Tasks-->
    <section id="sprint-tasks" class="content-section text-center">
        <div class="main-section container">
            <!--Show Tasks-->
            <div class="col-lg-8 col-lg-offset-2 text-left" ng-show="tasksInfo">
                <h3>Tasks</h3>
                <div ng-show="tasks.length == 0">
                    <h6>Currently no tasks on the record</h6>
                </div>
                <table class="table" ng-hide="tasks.length == 0">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Confirmed</th>
                        <th>Required Qualification</th>
                        <th>Time to complete</th>
                        <th>Time in development</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="t in tasks">
                        <td><a class="top-link" ui-sref="tasks({id: t.id})">{{t.name}}</a></td>
                        <td>{{t.assigned}}</td>
                        <td>{{t.qualification | lowercase}}</td>
                        <td>{{t.timeToComplete}}</td>
                        <td ng-if="!t.timeInDevelopment">Not in development yet</td>
                        <td ng-if="t.timeInDevelopment">{{t.timeInDevelopment}}</td>
                    </tr>
                    </tbody>
                </table>
                <button class="btn btn-default col-lg-2" ng-click="tasksInfo = !tasksInfo">Add</button>
            </div>
            <!--Add Task-->
            <div class="col-lg-4 col-lg-offset-2 text-left" ng-hide="tasksInfo">
                <h3>New Task</h3>
                <form name="task_form" class="form-horizontal" ng-submit="addTask()">

                    <div ng-include="'/templates/fragments/taskForm.html'"></div>

                    <div class="btn-toolbar">
                        <button class="btn navbar-btn btn-default col-lg-4" type="submit"
                                ng-click="tasksInfo = true" ng-disabled="task_form.$invalid">Submit
                        </button>
                        <button class="btn navbar-btn btn-default col-lg-4" type="button"
                                ng-click="tasksInfo = true">Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
